
main.detail-page {
  display: block;
  margin: 100px 0;
}

.error {
  height: 50vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.error h1 {
  margin-top: 50px;
  font-size: 2rem;
}
.error p {
  margin: 10px;
}

.detail-section header {
  position: relative;
  margin: 0 auto;
  padding-top: 50px;
  width: 100%;
}
@media (min-width: 992px) {
  .detail-section header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
.detail-section .title-section {
  color: #212121;
  font-size: 2.5rem;
  text-align: center;
  margin: 10px 0;
}
.detail-section .image-container {
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 992px) {
  .detail-section .image-container {
    width: 50%;
  }
}
.detail-section .image-container img {
  width: 100%;
  height: 100%;
}
@media (min-width: 992px) {
  .detail-section .image-container img {
    border-radius: 25px;
  }
}
.detail-section .quotes-list h2 {
  font-size: 1.2rem;
}
.detail-section .quotes-list .list-item {
  position: relative;
}
.detail-section .quotes-list .list-item span {
  position: absolute;
  bottom: 0;
  right: 0;
}
.detail-section .quotes-list p {
  font-style: italic;
  padding: 20px 0;
}
.detail-section .content,
.detail-section .quote-form,
.detail-section .quotes-list {
  width: 80%;
  margin: 20px auto;
}
.detail-section .content .quote-input,
.detail-section .quote-form .quote-input,
.detail-section .quotes-list .quote-input {
  margin: 20px 0;
}
@media (min-width: 992px) {
  .detail-section .content,
.detail-section .quote-form,
.detail-section .quotes-list {
    margin: 50px auto;
    width: 70%;
  }
}
.detail-section .content p,
.detail-section .quote-form p,
.detail-section .quotes-list p {
  line-height: 1.4;
  margin: 10px 0;
}
